Alex Alexander <wired@gentoo.org> <alex.alexander@gmail.com>
Alex Alexander <wired@gentoo.org> <wired@cloud.skynet>
Andreas K. Hüttel <dilfridge@gentoo.org> <mail@akhuettel.de>
Ben de Groot <yngwin@gentoo.org> <yngwin@gentoo.org>
Ben de Groot <yngwin@gentoo.org> <yngwin@gmail.com>
Ben de Groot <yngwin@gentoo.org> <ben@raven.bigben.homelinux.net>
Christian Franke <cfchris6@ts2server.com>
Davide Pesavento <pesa@gentoo.org> <davidepesa@gmail.com>
Dominik Kapusta <ayoy@gentoo.org>
Dominik Kapusta <ayoy@gentoo.org> <d@ayoy.net>
Dror Levin <spatz@gentoo.org>
Dror Levin <spatz@gentoo.org> <spatz@psybear.com>
Jonathan Callen <jcallen@gentoo.org> <abcd@gentoo.org>
Maciej Mrozowski <reavertm@gentoo.org> <reavertm@gmail.com>
Maciej Mrozowski <reavertm@gentoo.org> <reavertm@poczta.fm>
Maksim Melnikau <maxposedon@gmail.com>
Markos Chandras <hwoarang@gentoo.org> <hwoarang@silverarrow.gr>
Michael Palimaka <kensington@gentoo.org> <kensington@astralcloak.net>
Theo Chatzimichos <tampakrap@gentoo.org>
Theo Chatzimichos <tampakrap@gentoo.org> <tampakrap@gmail.com>
