[Desktop Entry]
Categories=Qt;Development;GUIDesigner;
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec=/usr/bin/assistant
GenericName=Assistant
GenericName[en_US]=Assistant
Icon=assistant
MimeType=
Name=Assistant
Name[en_US]=Assistant
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
